@import url("./theme/cosmicEnergy.css");

:root {
  /* Provide gentle page transition */
  --page-transition: opacity .2s ease, transform .2s ease;
}

body {
  margin: 0;
  transition: background-color .25s ease, color .25s ease;
}

#root {
  min-height: 100vh;
}
